body{
	margin: 0;
	box-sizing: border-box;
	background: black;
	font-family: 'Poppins', sans-serif;
}

@keyframes aparecer {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*viewport(pantalla)*/
.viewport,.infoPage,.seccionLogin,.botones{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.viewport{
	width: 100%;
	height: 100vh;
	background-color: white;
}

/*secciones login*/

.seccionLogin,.infoPage{
	width: 49.5%;
	height: 98vh;
}


.infoPage{
	background: #464646;
	
	background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
	border-radius: 1em;
}

.seccionLogin{
	position: relative;
	flex-direction: column;
}

/*titulo instituto*/
.seccionLogin h4{
	position: absolute;
	top: 1.5rem;
	font-weight: lighter;
	color: #757575;
	font-size: 1rem;
}

/*contenedor login*/

.containerLogin{
	padding: 3em 1em;
	box-shadow: 0.5px 0.5px 20px 1px #EFEFEF;
	border-radius: 1em;
}

.containerLogin h4{
	position: relative;
	font-weight: bolder;
	margin:0 0 3em 0;

}

/*formulario*/
.form{
	display: flex;
	flex-direction: column;
}

.form label{
	font-size: 0.8rem;
	margin-bottom: .3em;
	color: #9F77F7;

}

.itemForm{
	width: 94%;
	font-size: 0.8em;
	font-weight: bold;	
}

.input{
	padding: .8em;
	margin-bottom: .8em;
	border: 1px solid #757575;
	border-radius: 0.3em;
}

#ingresar{
	padding: 1em;
	margin-top: 1em;
	width: 24rem;
	border-radius: 1em;
	border: none;
	background: #464646;
	color: whitesmoke;
	font-weight: bold;
	font-size: 1em;
}

/*logo*/

.logo{
	display: flex;
	align-items: center;
}
.logo span{
	background-image: linear-gradient(to top, #7d43fa 0%, #ffc9e9 100%);
	padding: 0 1em;
	font-size: 1rem;
	border-radius: .8em;
	color: white;
}
.logo img{
	width: 2.5rem;
	height: 2.5rem;
}

/*redes*/

.redes{
	position: absolute;
	bottom: 1.5em;
}

.redes span{
	font-size: 0.8rem;
}
.redes div{
	display: flex;
	justify-content: space-between;
	font-size: 1rem;
}
.redes div a{
	color: #464646;
}

/*infopage*/

.infoPage{
	flex-direction: column;
	position: relative;
}

.fondo_info_page{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 0;
}

/*carrusel*/

.containerCarrusel{
	background: transparent;
	width: 37.5rem;
	height: 33rem;
	overflow: hidden;
	position: relative;
	object-fit: scale-down;
	display: inline-block;
}

.containerCarrusel div{
	width: 300%;
	display: flex;
}

.containerCarrusel img{
	width: 37.5rem;
	height: 33rem;
	object-fit: scale-down;
}

.comandos{
	position: relative;
}

.compensar{
	height: 7.5rem;
}

.descripcion{
	font-size: .9rem;
	color: white;
	display: block;
	text-align: center;
}

.botones{
	margin-top: 2rem;
	justify-content: space-between;
	z-index: 100;
}

.btn{
	background: transparent;
	border: none;
	color: white;
	font-size: 2em;
	cursor: pointer;
}
/*descripcion*/

.comandos div h4 {
	color: white;
	font-size: 1.3em;
	margin-bottom: 1em;
}


/*imagenes*/

.deslizar img{
	animation: aparecer 0.5s ease-in-out forwards;
}

@media (max-width: 1280px) or (max-height: 870px){
	html{
		font-size: 13px;
	}
}

@media (max-width: 960px) or (max-height: 600px){
	html{
		font-size: 10px;
	}
}





