body{
	margin: 0;
	box-sizing: border-box;
	background: black;
	font-family: 'Poppins', sans-serif;
}

@keyframes aparecer {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*viewport(pantalla)*/
.viewport,.infoPage,.seccionLogin,.botones{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.viewport{
	width: 100%;
	height: 100vh;
	border-radius: 10px;
	background-color: white;
}

/*secciones login*/

.seccionLogin,.infoPage{
	width: 49.5%;
	height: 98vh;
}


.infoPage{
	background: #464646;
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
	border-radius: 10px;
}

.seccionLogin{
	position: relative;
	flex-direction: column;
}

/*titulo instituto*/
.seccionLogin h4{
	position: absolute;
	top: 1.5em;
	font-weight: lighter;
	color: #757575;
}

/*contenedor login*/

.containerLogin{
	padding: 40px 20px;
	box-shadow: 0.5px 0.5px 20px 1px #EFEFEF;
	border-radius: 10px;
}

.containerLogin h4{
	position: relative;
	font-weight: bolder;
	margin:0 0 50px 0;

}

/*formulario*/
.form{
	display: flex;
	flex-direction: column;
}

.form label{
	font-size: 0.75em;
	margin-bottom: 5px;
	color: #9F77F7;

}

.itemForm{
	width: 94%;
	font-size: 0.8em;
	font-weight: bold;	
}

.input{
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #757575;
	border-radius: 5px;
}

#ingresar{
	padding: 15px;
	margin-top: 15px;
	width: 384px;
	border-radius: 20px;
	border: none;
	background: #464646;
	color: whitesmoke;
	font-weight: bold;
	font-size: 1em;
}

/*logo*/

.logo{
	display: flex;
	align-items: center;
}
.logo span{
	background-image: linear-gradient(to top, #7d43fa 0%, #ffc9e9 100%);
	padding: 0 15px;
	border-radius: 10px;
	color: white;
}
.logo img{
	width: 40px;
	height: 40px;
}

/*redes*/

.redes{
	position: absolute;
	bottom: 1.5em;
}

.redes span{
	font-size: 0.75em;
}
.redes div{
	display: flex;
	justify-content: space-between;
	font-size: 1.3em;
}
.redes div a{
	color: #464646;
}

/*infopage*/

.infoPage{
	flex-direction: column;
}

/*carrusel*/

.containerCarrusel{
	background: transparent;
	width: 600px;
	height: 500px;
	overflow: hidden;
	position: relative;
	object-fit: scale-down;
	display: inline-block;
}

.containerCarrusel div{
	width: 300%;
	display: flex;
}

.containerCarrusel img{
	width: 600px;
	height: 500px;
	object-fit: scale-down;
}

.comandos{
	position: relative;
}

.compensar{
	height: 183.91px;
}

.descripcion{
	font-size: 0.9em;
	color: white;
	display: block;
	text-align: center;
}

.botones{
	margin-top: 30px;
	justify-content: space-between;
}

.btn{
	background: transparent;
	border: none;
	color: white;
	font-size: 2em;
	cursor: pointer;
}
/*descripcion*/

.comandos div h4 {
	color: white;
	font-size: 1.5em;
	margin-bottom: 1em;
}


/*imagenes*/

.deslizar img{
	animation: aparecer 0.5s ease-in-out forwards;
}



